@{
    ViewBag.Title = "Cart Details";
}
<asp:Content ID="HeaderContent" runat="server" ContentPlaceHolderID="HeadContent">
  <link href="~/css/CartSite.css" rel="stylesheet" type="text/css" />
</asp:Content>

@model List<Codecool.CodecoolShop.Models.Product>

<div class="grey-background">
<div id="fixedContainer">
  <div class="title" style="padding: 20px;">
    To Pay
  </div>
  <table class="table">
    <tbody>
    <tr>
      <td style="padding: 20px;">Items</td>
      <td style="text-align: right; padding: 20px;" class="total-Price">@ViewBag.totalPriceOfItems.ToString("C2")</td>
    </tr>
    <tr>
      <td style="padding: 20px;">Shipping</td>
      <td style="text-align: right; padding: 20px;">0 zł</td>
    </tr>
    <tr>
      <td style="padding: 20px; font-weight: bold;">Total Amount</td>
      <td style="text-align: right; padding: 20px; font-weight: bold;" class="total-Price">@ViewBag.totalPriceOfItems.ToString("C2")</td>
    </tr>
    </tbody>
  </table>
  <div style="text-align: center; margin-top: -10px"><button class="checkout-button">Checkout</button></div>
</div>

<div class="shopping-cart" style="margin-left: 2%">
  <div class="title">
    Shopping Bag
  </div>
  <div id="ShoppingBag">
@foreach (var element in ViewBag.CartItems)
{
  <div class="item">
    <div class="buttons">
      <svg onclick ="deleteFromCart(@element.Id)" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="delete-btn bi bi-x-lg" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M13.854 2.146a.5.5 0 0 1 0 .708l-11 11a.5.5 0 0 1-.708-.708l11-11a.5.5 0 0 1 .708 0Z"/>
        <path fill-rule="evenodd" d="M2.146 2.146a.5.5 0 0 0 0 .708l11 11a.5.5 0 0 0 .708-.708l-11-11a.5.5 0 0 0-.708 0Z"/>
      </svg>
    </div>

    <div class="image">
      <img src="/img/@(element.Name).jpg" style="width: 60px; height: 60px" alt=""/>
    </div>

    <div class="description">
      <span>@element.Name</span>
      @*<span>@element.ProductCategory.Department</span>*@
      <span>@element.Supplier.Name</span>
    </div>

    <div class="quantity">
      <button class="plus-btn" type="button" name="button">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
          <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
        </svg>
      </button>
      <input type="text" name="name" value="1">
      <button class="minus-btn" type="button" name="button">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-dash" viewBox="0 0 16 16">
          <path d="M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8z"/>
        </svg>
      </button>
    </div>

    <div class="total-price" style="font-weight: bold">@element.DefaultPrice.ToString("C2")</div>
  </div>
}
</div>

</div>
</div>


