@{
    ViewData["Title"] = "Home Page";
}

@model List<Codecool.CodecoolShop.Models.Product>

    <form>
        <label for="categories">Choose a category:</label>
            <select id="categories">
                <option value="All">All</option>;
                @foreach (var item in ProductCategoryDaoMemory.GetInstance().GetAll())
                {
                    <option value="@item.Name">@item.Name</option>;
                }
            </select>
        <button type="button" onclick="RefreshProducts('category')">Refresh</button>
    </form>
    <form>
        <label for="supliers">Choose a suplier:</label>
            <select id="supliers">
                <option value="All">All</option>;
                @foreach (var item in SupplierDaoMemory.GetInstance().GetAll())
                {
                    <option value="@item.Name">@item.Name</option>;
                }
            </select>
        <button type="button" onclick="RefreshProducts('supplier')">Refresh</button>
    </form>
<div class="container" id="productContainer">
    @foreach (var element in Model)
    {
        <div class="col-lg-3 col-lg-3" style="display: inline-block; max-width: 350px; height: 350px">
            <div class="card">
                <img src="/img/@(element.Name).jpg" style="height: 50%; width: 50%; align-self: center; padding-top: 10px">

                <div class="card-body">
                    <h5 class="card-title text-center">
                        Product
                        @{ var num = Model.IndexOf(element) + 1;}
                        @num
                    </h5>
                    <h5 class="card-title">@element.Name</h5>
                    <p class="card-text">@element.Description.</p>
                    <p class="card-text">Category: @element.ProductCategory.Department</p>
                    <p class="card-text">Supplier: @element.Supplier.Name</p>
                    <p class="card-text text-center"><strong>Price: @element.DefaultPrice.ToString("C2")</strong></p>
                    <span id="@element.Id"><a onclick="addToCart(@element.Id)"  onload="addToCart(@element.Id)" type="button" class="btn btn-primary" style="float: bottom">Add To Cart</a></span>
                </div>
            </div>
        </div>
    }
    
    


</div>
